html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.mui-page
{
    height: 100%;
}
.mui-page .mui-page-content
{
    height: 100%;
}

.weui-form-preview__value, .weui-form-preview__label
{
    text-align: left;
    font-size: 19.2px;
    margin-right: 30px;
}
.red-text{
    color: red;    
}
.sky-blue-text{
    color: #3a94ff;
}
.item-content-center
{
    position: absolute;    
    bottom: 20%;
    left: calc(50% - 91px);
}

.weui-btn{
    top: 50%;
    background-color: #68aeff;
    width: 192px;
    height: 40px;
    font-size: 14.4px;
    line-height: 24px;
    text-align: center;
}