body {
    touch-action: pan-y;
}


/**pmx**/

.el-table {
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 14px;
    color: #606266;
    margin:0 auto;
}

.el-table__header-wrapper {
    overflow: hidden;
}

.el-table__body-wrapper {
    /* height: 203px; */
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}

.el-table__row {
    background: #fff;
}

.el-table .cell {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 23px;
    padding-left: 10px;
    padding-right: 10px;
}

.el-table td,
.el-table th.is-leaf {
    border-bottom: 1px solid #ebeef5;
}

.el-table td,
.el-table th {
    padding: 12px 0;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: left;
    position: relative;
    text-align: left;
}

.el-table--enable-row-transition .el-table__body td {
    transition: background-color .25s ease;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: #f5f7fa;
}

.el-table th>.cell {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.el-table__body,
.el-table__footer,
.el-table__header {
    /* margin:0 auto; */
    table-layout: fixed;
    border-collapse: separate;
}