.echart-inner-container {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: -apple-system-font, Helvetica Neue, sans-serif;
}

.echart-inner-container .inner-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.echart-inner-container .inner-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #efeff4;
  display: flex;
  flex-direction: column;
}

.echart-inner-container .inner-bar {
  height: 40px;
  padding: 0 12px;
  color: #b2b2b2;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-bottom: 5px;
}

.echart-inner-container .inner-main {
  background-color: #fff;
  overflow: auto;
  margin-bottom: 5px;
  flex-grow: 1;
}

.echart-inner-container .inner-main .swiper-container {
  height: 100%;
  /* background: #ddd; */
}

.echart-inner-container .inner-main .swiper-container .swiper-slide {
  color: #444;
}

.echart-inner-container .inner-main .swiper-container .swiper-pagination {
  height: 50px;
  bottom: 100px;
}

.echart-inner-container .inner-main .inner-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  margin-top: 10px;
}

.echart-inner-container .inner-main .inner-txt .inner-title {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
}

.echart-inner-container .inner-main .inner-txt .inner-date {
  color: #888;
  font-size: 14.4px;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 5px;
}

.echart-inner-container .inner-main .inner-statisic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
}

.echart-inner-container .inner-main .inner-statisic .head {
  grid-column-start: span 2;
  display: flex;
  margin: 5px;
  align-items: center;
}

.echart-inner-container .inner-main .inner-statisic .head .head-num {
  font-size: 25px;
  color: #3a93ff;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 3px;
}

.echart-inner-container .inner-main .inner-statisic .head .head-suffix {
  font-size: 18px;
  color: #b2b2b2;
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
  overflow: hidden;
}

.echart-inner-container .inner-main .inner-statisic .item {
  display: flex;
  background: #f7f7f7;
  margin: 3px;
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
}

.item .item-title {
  font-size: 18px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  color: #61738a;
}

.item .item-content {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  color: #3a93ff;
  margin-top: 15px;
}

/* .echart-inner-container .inner-main .inner-statisic .statistic {
    display: flex;
    justify-content: space-between;
}

.echart-inner-container .inner-main .inner-statisic .statistic .statistic-title {
    font-size: 20px;
    display: inline-block;
}

 */

.echart-inner-container .inner-chart {
  height: 256px;
}

.echart-inner-container .inner-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}

.echart-inner-container .inner-footer .inner-btn {
  width: 45%;
  height: 40px;
  background-color: #3a94ff;
  color: white;
  border-radius: 4.8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
